In [2]:
import pandas as pd

In [36]:
ppl = pd.read_csv('people.csv')

In [37]:
ppl.head()

   person_id            name     sex date of birth
0        100  Penelope Lewis  female       8/31/90
1        101   David Anthony    male      10/14/71
2        102       Ida Shipp  female       5/24/62
3        103    Joanna Moore  female       3/10/17
4        104  Lisandra Ortiz  female        8/5/20

In [38]:
calls = pd.read_csv('calls.csv') 
calls = calls.rename(columns={'person_ID': 'person_id'})

In [39]:
calls.head()

,call_id,person_id,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,injury_date,intake,take
0,136,100,Facebook,Patty Hewes,Head,NaN,NaN,NaN,NaN,yes,11/27/15,2/6/17,no
1,137,101,referal,Patty Hewes,hands,elbow,NaN,NaN,NaN,yes,6/30/14,2/7/17,No
2,138,102,NaN,Rachel Zane,hip,arm,foot/feet,NaN,NaN,NO,4/22/16,2/7/17,no
3,139,103,Google,Perry Mason,EYE,ankle,NaN,NaN,NaN,no,8/12/15,2/8/17,yes
4,140,104,website,Rusty Sabich,neck,NaN,NaN,NaN,NaN,YES,12/28/16,2/9/17,no

In [40]:
single_table = calls.merge(ppl, how="left")

In [41]:
single_table = pd.concat([single_table, pd.get_dummies(single_table['Referal Soure'])], axis=1)

single_table

,call_id,person_id,Referal Soure,attorney,body_part_1,body_part_2,body_part_3,body_part_4,body_part_5,surgery,...,intake,take,name,sex,date of birth,Facebook,Google,Other,referal,website
0,136,100,Facebook,Patty Hewes,Head,NaN,NaN,NaN,NaN,yes,...,2/6/17,no,Penelope Lewis,female,8/31/90,1,0,0,0,0
1,137,101,referal,Patty Hewes,hands,elbow,NaN,NaN,NaN,yes,...,2/7/17,No,David Anthony,male,10/14/71,0,0,0,1,0
2,138,102,NaN,Rachel Zane,hip,arm,foot/feet,NaN,NaN,NO,...,2/7/17,no,Ida Shipp,female,5/24/62,0,0,0,0,0
3,139,103,Google,Perry Mason,EYE,ankle,NaN,NaN,NaN,no,...,2/8/17,yes,Joanna Moore,female,3/10/17,0,1,0,0,0
4,140,104,website,Rusty Sabich,neck,NaN,NaN,NaN,NaN,YES,...,2/9/17,no,Lisandra Ortiz,female,8/5/20,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,100131,100095,referal,Ally McBeal,arm,NaN,NaN,NaN,NaN,no,...,1/28/18,yes,Annette Jones,female,10/31/01,0,0,0,1,0
99996,100132,100096,NaN,Perry Mason,Head,hand,NaN,NaN,NaN,yes,...,1/29/18,No,Angela Meyer,female,4/11/80,0,0,0,0,0
99997,100133,100097,NaN,JoAnee Galloway,ankle,hands,foot/feet,head,NaN,no,...,1/30/18,no,Janet Brann,female,2/2/91,0,0,0,0,0
99998,100134,100098,Facebook,Atticus Finch,eye,Neck,NaN,NaN,NaN,yes,...,1/30/18,Yes,Melanie Kendrick,female,7/16/78,1,0,0,0,0
99999,100135,100099,website,Atticus Finch,elbow,neck,NaN,NaN,NaN,no,...,1/30/18,No,James Grappe,male,6/15/00,0,0,0,0,1

In [42]:
single_table["take"].unique()

array(['no', 'No', 'yes', 'Yes', 'y'], dtype=object)

In [43]:
single_table.loc[single_table['take'] == 'yes', 'take'] = 1
single_table.loc[single_table['take'] == 'Yes', 'take'] = 1
single_table.loc[single_table['take'] == 'y', 'take'] = 1
single_table.loc[single_table['take'] != 1, 'take'] = 0

In [47]:
final_table = single_table[["take","Facebook","Google","Other","referal","website"]]

In [49]:
final_table

      take  Facebook  Google  Other  referal  website
0        0         1       0      0        0        0
1        0         0       0      0        1        0
2        0         0       0      0        0        0
3        1         0       1      0        0        0
4        0         0       0      0        0        1
...    ...       ...     ...    ...      ...      ...
99995    1         0       0      0        1        0
99996    0         0       0      0        0        0
99997    0         0       0      0        0        0
99998    1         1       0      0        0        0
99999    0         0       0      0        0        1

[100000 rows x 6 columns]

In [48]:
final_table.to_csv("dewey-cheetham-howe.csv", index_label=False)